<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">

<head>
    <title>Liste des projets</title>
</head>

<body>
    <div class="container">
        <div id="notification" th:replace="~{main :: notification}"></div>
        <div layout:fragment="content">    
        <h1 th:text="${title}">Liste des projets</h1>
        <div class="actions">
            <a th:href="@{/projets/create}">Ajouter un nouveau projet</a>
        </div>

        <table th:unless="${#lists.isEmpty(projets)}" class="table table-striped">
            <thead>
                <tr>
                    <th>Libellé</th>
                    <th>Secteur</th>
                    <th>Valuation</th>
                    <th>ROI Projeté</th>
                    <th>Statut</th>
                    <th>Site Projet</th>
                    <th colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="projet : ${projets}">
                    <td><a th:href="@{/projets/{id}(id=${projet.id})}" th:text="${projet.libelle}">Titre</a></td>
                    <td th:text="${projet.secteur}">Secteur</td>
                    <td th:text="${projet.valuation} + ' francs CFA'">100000</td>
                    <td th:text="${projet.roiProjete + '%'}">12.5</td>
                    <td th:text="${projet.statutProjet}">EN_COURS</td>
                    <td th:text="${projet.siteProjet != null ? projet.siteProjet.nom : 'N/A'}">Site de Samango</td>
                    <!--
                      Lien vers la page détail d'un projet.
                      Cela permet de naviguer vers une page affichant les infos détaillées de le projet sélectionné.
                    -->
                    <td><a th:href="@{/projets/{id}(id=${projet.id})}">Voir</a></td>
                    <!--
                      Lien vers la page d'édition d'un projet.
                      Ce lien dirige vers un formulaire permettant de modifier les informations de le projet.
                    -->
                    <td><a th:href="@{/projets/{id}/edit(id=${projet.id})}">Modifier</a></td>
                        <td>
                            <form th:id="|deleteForm-${projet.id}|" th:action="@{/projets/{id}(id=${projet.id})}" th:method="delete">
                                <a href="#" th:onclick="|if(confirm('Confirmation de suppression projet #${projet.id}')) 
                        	            document.getElementById('deleteForm-${projet.id}').submit(); 
                        	            return false;|">Delete</a>
                            </form>
                        </td>



                </tr>
            </tbody>
        </table>

        <div th:if="${#lists.isEmpty(projets)}">
            <p>Aucun projet trouvé.</p>
        </div>
    </div>
</body>

</html>